.paymentProperty{
    width: 100%;
    max-width: 1200px;
}
.paymentProperty-container{
    display: flex;
    gap: 20px;
    flex: 1;
}
.PaymentProperty-content{
    flex: 3;
}
.paymentProperty-address{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 0px 5px var(--primary-color);
    border-radius: 10px;
}
.paymentProperty-addressTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    >span{
        &:nth-child(1){
            font-size: 2rem;
            font-family: 'Oswald';
        }
        &:nth-child(2){
            color: rgba(220, 91, 14, 0.5);
            &:hover{
                cursor: pointer;
                color: var(--primary-color);
            }
        }
    }
}
.paymentProperty-addressInfo{
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.paymentProperty-product{
    background-color: #fff;
    box-shadow: 0px 0px 5px var(--primary-color);
    border-radius: 10px;
    margin-top: 16px;
}
.paymentProperty-productBrand{
    display: flex;
    justify-content: space-between;
    padding: 12px 40px 36px 40px;
    align-items: center;
    >span{
        font-size: 2rem;
        font-family: 'Oswald';
    }
    >button{
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 8px;
        background-color: rgba(220, 91, 14, 0.7);
        border-radius: 10px;
        border: none;
        color: #fff;
        &:hover{
            cursor: pointer;
            background-color: var(--primary-color);
        }
    }
}
.paymentProperty-productBox{
    display: flex;
    gap: 12px;
    padding: 0 56px 40px;

    >img{
        width: 120px;
        height: 120px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        object-fit: contain;
    }
}
.paymentProperty-productProperty{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.paymentProperty-productContent{
    display: flex;
    flex: 1;

    >span{
        width: 245px;
    }
}
.paymentProperty-productQuantity{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 50px;
}
.paymentProperty-productCount{
    position: relative;
    >input{
        width: 70px;
        height: 34px;
        background-color: #fff;
        border: 1px solid rgba(220, 91, 14, 0.5);
        box-shadow: inset 0px 0px 4px rgba(220, 91, 14, 0.5);
        border-radius: 5px;
        font-size: 2rem;
        padding: 7px 10px;
        text-align: center;
        outline: none;
    }
    >span{
        position: absolute;
        background-color: #fff;
        top: -17px;
        left: -56px;
        color: rgba(0, 0, 0, 0.8);
        padding: 1px 6px;
    }
}
.paymentProperty-moneySum{
    display: flex;
    align-items: baseline;
    gap: 16px;

    >span{
        &:nth-child(2){
            display: flex;
            align-items: center;
            gap: 4px;
            font-size: 2rem;
            color: var(--primary-color);
        }
    }
}
.paymentProperty-icon{
    color: rgba(0, 0, 0, 0.5);
}
.paymentProperty-comfirm{
    background: #fff;
    box-shadow: 0px 0px 5px #DC5B0E;
    border-radius: 10px;
    padding: 20px;
    height: max-content;
    flex: 1;

    >button{
        width: 100%;
        height: 68px;
        background-color: rgba(220, 91, 14, 0.7);
        border-radius: 50px;
        border: none;
        font-size: 2.8rem;
        color: #fff;
        margin-top: 4px;
        &:nth-of-type(1){
            &:hover{
                cursor: pointer;
                background-color: var(--primary-color);
            }
        }

        &:nth-of-type(2){
            margin-top: 10px;
            background-color: rgba(255, 255, 255, 0.7);
            box-shadow: inset 0px 0px 4px #DC5B0E;
            color: var(--primary-color);
            display: flex;
            align-items: center;
            gap: 4px;
            justify-content: center;
            &:hover{
                cursor: pointer;
                opacity: 0.8;
            }
        }
    }
}
.paymentProperty-confirmItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    font-size: 1.8rem;

    >span{
        &:nth-child(2){
            display: flex;
            align-items: flex-end;
            gap: 4px;
            color: var(--primary-color);
        }
    }
    &:nth-child(4){
        margin: 14px 0 20px;
        font-size: 2.4rem;
        font-family: 'Oswald';
    }
}