.passwordChange{
    width: 100%;
    max-width: 880px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px var(--primary-color);
    border-radius: 10px;
    height: 700px;
}
.passwordChange-container{
    padding: 24px;
}
.passwordChange-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}
.passwordChange-title>span{
    font-size: 2.8rem;
}
.passwordChange-title>button{
    background: #FFFFFF;
    border: 1px solid #DC5B0E;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    font-size: 2.6rem;
    color: rgba(220, 91, 14, 0.6);

    &:hover{
        cursor: pointer;
        color: var(--primary-color);
    }
}
.passwordChange-content{
    margin: 90px 100px 0;
    display: flex;
    flex-direction: column;


    >button {
        width: 300px;
        height: 50px;
        transform: translateX(50%);
        background-color: rgba(220, 91, 14, 0.5);
        border-radius: 10px;
        font-size: 2rem;
        color: #fff;
        border: none;
        &:hover{
            cursor: pointer;
            background-color: var(--primary-color);
        }
    }
}
.passwordChange-boxList{
    display: flex;
    gap: 4px;
    align-items: center;
}
.passwordChange-box{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 42px;
}
.passwordChange-titleList{
    display: flex;
    flex-direction: column;
    gap: 44px;
    font-size: 2.4rem;
}
.passwordChange-inputList{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.passwordChange-inputItem{
    display: flex;
    align-items: center;
    gap: 4px;

    >input{
        width: 400px;
        height: 50px;
        background-color: #FFF;
        border: 1px solid var(--primary-color);
        box-shadow: inset 0px 0px 4px rgba(220, 91, 14, 0.5);
        border-radius: 5px;
        outline: none;
        padding: 10px;
        font-size: 2rem;
    }
}
.passwordChange-error{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
}