.sellerAuc-container.none{
    display: none;
}
.seller{
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0px 0px 5px #DC5B0E;
    border-radius: 10px;
}
.seller-container,.sellerAuc-container{
    margin: 24px 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.seller-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.seller-img{
    width: 100px;
    height: 100px;
    border: 1px solid #DC5B0E;
    border-radius: 50%;
    object-fit: contain;
}
.seller-detail,.sellerAuc-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.seller-name{
    font-size: 2.8rem;
    color: var(--primary-color);
    font-family: 'Oswald';
}
.seller-btn>button{
    width: 148px;
    height: 50px;
    font-size: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid var(--primary-color);

    &:first-child{

        background-color: #fff;
        border-radius: 10px;
        margin-right: 12px;
        color: var(--primary-color);
    }
    &:last-child{

        background-color: rgba(220, 91, 14, 0.8);
        border-radius: 10px;
        color: #fff;
    }
}
.seller-review{
    display: flex;
    align-items: center;
    gap: 60px;
    font-size: 2rem;
    margin: 8px 0 ;
}
.review-rate{
    display: flex;
    flex-direction: column;
    gap: 44px;
}
.rate-text{
    display: flex;
    align-items: baseline;
    gap: 5px;
}
.rate-text>span{
    &:last-child{
        color: var(--primary-color);
    }
}
.sellerAuc-detail>button{
    width: 300px;
    height: 50px;
    background-color: rgba(220, 91, 14, 0.8);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
    color: #fff;
    border: none;
}
.sellerAuc-review{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    margin: 8px 0 ;
    gap: 44px;
}
.reviewAuc-rate{
    display: flex;
    gap: 60px;
}
.rate-star{
    color: var(--primary-color);
}