.category{
    display: flex;
    width: 100%;
    max-width: 1200px;
}
.cateItem{
    display: block;
    text-decoration: none;
    color: var(--primary-color);
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-bottom: 10px;

    &:hover{
        box-shadow: 0px 0px 5px 2px var(--primary-color);
        cursor: pointer;
        transform: translateY(-1px);

    }
}
.cateItem-Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cateItem-Content>img{
    width: 260px;
    height: 190px;
    object-fit: contain;
    margin: 10px 10px 12px;
}
.cateItem-title{
    font-size: 2rem;
    margin: 0 10px 12px;
    
    
}