.auctionHistory-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 100px;
    position: relative;

    >span{
        font-size: 3.2rem;
        font-family: 'Oswald';
    }
}
.auctionHistory-icon{
    position: absolute;
    left: 0;
    top: 10px;
    color: var(--primary-color);
    margin-left: 100px;
    &:hover{
        cursor: pointer;
        opacity: 0.8;
    }
}