
.adminHome{
    display: flex;
    width: 100%;
}
.adminHome-navbar{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    // flex: 1;

    >span{
        display: flex;
        align-items: center;
        font-size: 2.4rem;
        font-family: 'Oswald';
        color :rgba(0, 0, 0, 0.5);
        &:hover{
            cursor: pointer;
            color: #000;
        }
    }
}
.adminHome-subnav{
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 2rem;
    font-family: 'Oswald';
    color :rgba(0, 0, 0, 0.5);
    margin-left: 22px;
    >span{
        display: flex;
        align-items: center;
        &:hover{
            cursor: pointer;
            color: #000;
        }
    }
}
.adminHome-content{
    margin: 20px;
    flex: 1;
}
