.productPay
{
    width: 100%;
    max-width: 880px;
    background-color: #FFFFFF;
}
.productPay-title{
    margin-bottom: 32px;
    >button{
        width: 200px;
        height: 42px;
        font-size: 2.6rem;
        border: none;
        background-color: #fff;
        &:hover{
            cursor: pointer;
            opacity: 0.8;
        }
    }
}
.productPay-searchBox{
    width: 880px;
    height: 52px;
    border: 1px solid var(--primary-color);
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 16px;

    >input{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 2rem;
        padding: 0 20px;
    }

    >button{
        width: 80px;
        height: 44px;
        background-color: var(--primary-color);
        border-radius: 10px;
        border: none;
        margin: 3px;
        outline: none;
    }
}
.productPay-searchIcon{
    margin: 10px;
    color: var(--primary-color);
    width: 32px;
    

    &:last-child{
        color: #fff;
    }
}
.productPay-item,
.productAuction-item{
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(220, 91, 14, 0.5);
    border-radius: 10px;
    padding: 24px 40px;
    margin-bottom: 24px;
}
.productPay-item{
    >button{
        padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 2rem;
    &:hover{
        cursor: pointer;
        opacity: 0.8;
    }
    }
}
.productPay-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 41px;
    >span{
        font-size: 2.2rem;
        font-family: 'Oswald';
    }
}
.productPay-itemTitle{
    display: flex;
    align-items: center;
    gap: 16px;
    >span{
        font-size: 2.6rem;
        font-family: 'Oswald';
    }
    >button{
        width: 148px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        gap: 4px;
        border: 1px solid var(--primary-color);
        border-radius: 10px;
        &:nth-of-type(1){
            background: #fff;
            color: var(--primary-color);
            
        }
        &:nth-of-type(2){
            background: var(--primary-color);
            color: #fff;
            
        }
        &:hover{
            cursor: pointer;
            opacity: 0.8;
        }
    }
}
.productPay-body,
.productAuction-body{
    display: flex;
    gap: 16px;
    margin-bottom: 10px;
    >img{
        width: 140px;
        height: 140px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        object-fit: contain;
    }
}
.productPay-bodyText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    >span{
        font-size: 2.4rem;
        font-family: 'Oswald';
    }
}
.productPay-bodyType{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.8rem;
}
.productPay-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.6rem;
    font-family: 'Oswald';
    margin: 20px 0;
    &:last-child{
        margin-bottom: 0;
    }

    >span{
        &:nth-child(2){
            display: flex;
            align-items: center;
            gap: 6px;
            color: var(--primary-color);
        }
    }

    >span{
        font-size: 2.6rem;
        color: var(--primary-color);
        font-family: 'Oswald';
        display: flex;
        align-items: center;
        gap: 6px;
    }
}
.productAuction-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
    font-family: 'Oswald';
    >span{
        &:nth-child(1){
            font-size: 2.6rem;
        }
        &:nth-child(2){
            font-size: 2.2rem;
        }
    }
}
.productAuction-bodyText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    >span{
        &:nth-child(1){
            font-size: 2.4rem;
            font-family: 'Oswald';
        }
        &:nth-child(2){
            font-size: 1.8rem;
        }
    }
}
.productAuction-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.productPay-footerBtn{
    display: flex;
    gap: 10px;
    >button{
        width: 160px;
        height: 50px;
        border: none;
        font-size: 2rem;
        &:first-child{
            background-color: rgba(220, 91, 14, 0.7);
            border-radius: 10px;
            color: #fff;
            &:hover{
                cursor: pointer;
                background-color: var(--primary-color);
            }
        }
        &:last-child{
            background: rgba(255, 255, 255, 0.7);
            border: 1px solid var(--primary-color);
            border-radius: 10px;
            color: var(--primary-color);
            &:hover{
                cursor: pointer;
                opacity: 0.8;
            }
        }
    }
}
.modalComment{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalComment-container{
    min-height: 676px;
    background: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 24px;
    animation: btn-glide ease .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 60px;
    >span{
        font-size: 3.2rem;
        font-family: 'Oswald';
    }

    >textarea{
        width: 100%;
        height: 160px;
        outline: none;
        background: #FFFFFF;
        border: 1px solid var(--primary-color);
        border-radius: 5px;
        padding: 10px;
        font-size: 1.8rem;
    }
}
.modalComment-product{
    display: flex;
    gap: 10px;
    width: 100%;
    >img{
        width: 120px;
        height: 120px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        object-fit: contain;
    }
}
.modalComment-productName{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    >span{
        font-size: 1.8rem;
        font-family: 'Oswald';
    }
}
.modalComment-productDetail{
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.8);
}
.modalComment-rate{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    >span{
        font-size: 2rem;
        font-family: 'Oswald';
    }
}
.modalComent-rateBox{
    display: flex;
    gap: 6px;
}
.modalComment-imgBox{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    >img{
        width: 100px;
        height: 100px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }
    >button{
        width: 100px;
        height: 100px;
        background: #FFFFFF;
        border: 1px dashed rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &:hover{
            cursor: pointer;
            border: 1px dashed var(--primary-color);
            color: var(--primary-color);
        }
    }
}
.modalComment-btn{
    display: flex;
    gap: 40px;
    >button{
        width: 340px;
        height: 50px;
        font-size: 2.4rem;
        border: none;
        &:first-child{
            display: flex;
            gap: 4px;
            align-items: center;
            justify-content: center;
            background: rgba(255, 255, 255, 0.7);
            box-shadow: inset 0px 0px 4px var(--primary-color);
            border-radius: 50px;
            color: var(--primary-color);
            &:hover{
                cursor: pointer;
                opacity: 0.8;
            }
        }
        &:last-child{
            background: rgba(220, 91, 14, 0.5);
            border-radius: 50px;
            color: #fff;
            &:hover{
                cursor: pointer;
                background-color: var(--primary-color);
            }
        }
    }
}
.modalComment.none{
    display: none;
}