@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;500;600;700&display=swap');

:root{
    --primary-color: #F77524;
}

*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6rem;
}