.modal-classify{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.modal-classifyContainer{
    width: 600px;
    min-height: 276px;
    background: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 20px 60px;
    animation: btn-glide ease .5s;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    >span{
        font-size: 3.2rem;
        font-family: 'Oswald';
    }
}
.product-classifyList{
    >input{
        flex: 3;
        background: #fff;
        border: 1px solid var(--primary-color);
        border-radius: 5px;
        font-size: 1.8rem;
        outline: none;
        height: 40px;
        padding: 10px;
    }
}
.product-classifyInput{
    flex: 3;
    display: flex;
    background: #fff;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    justify-content: space-between;
    padding: 10px;
    color: var(--primary-color);
    >input{
        border: none;
        outline: none;
        font-size: 1.8rem;
    }
}
.modal-classifyBtn{
    display: flex;
    justify-content: space-between;
    width: 100%;
    >button{
       
        width: 220px;
        height: 50px;
        border: none;
        font-size: 2.4rem;
        &:first-child{
            background: rgba(255, 255, 255, 0.7);
            box-shadow: inset 0px 0px 4px #DC5B0E;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--sub-color);
            &:hover{
                cursor: pointer;
                color: #fff;
                background: var(--primary-color);
            }
        }
        &:last-child{
            background: rgba(220, 91, 14, 0.7);
            border-radius: 50px;
            color: #fff;
            &:hover{
                cursor: pointer;
                opacity: 0.8;
            }
        }
    }
}