.auction{
    width: 100%;
    max-width: 1200px;
    display: flex;
}
.auctionItem{
    display: inline-block;
    text-decoration: none;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: #000;
    transition: transform linear 0.1s;
}
.auctionItem:hover{
    transform: translateY(-1px);
    border: 1px solid var(--primary-color);
    box-shadow: 0px 0px 5px 2px var(--primary-color);
}
.auction-img{
    width: 260px;
    height: 190px;
    object-fit: cover;
    margin: 10px;
}
.auction-title{
    font-size: 1.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    margin: 10px 10px 22px 10px;
}
.auction-sell,
.auction-priceStart, 
.auction-priceCurrent,
.auction-rate,
.auction-buy{
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px 8px;
}
.auction-rating{
    color: var(--primary-color);
}
.auction-btn{
    border: none;
    background-color: rgba(220, 91, 14, 0.5);
    border-radius: 10px;
    width: 130px;
    height: 40px;
    color: #fff;
    &:hover{
        cursor: pointer;
        background-color: var(--primary-color);
    }
}
.auction-liked{
    width: 26px;
    height: 26px;
    color: rgba(220, 91, 14, 0.5);;
}

