.manageProduct{
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 5px #DC5B0E;
    border-radius: 10px;
}
.manageProduct-container{
    padding: 20px;
}
.manageProduct-header{
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    >span{
        flex: 1;
        text-align: center;
        padding: 0 40px;
        font-size: 2rem;
        cursor: pointer;
        &:hover{
            opacity: 0.8;
        }
    }
}
.manageProduct-search{
    width: 100%;
    height: 52px;
    border: 1px solid var(--primary-color);
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom:16px;
    gap: 5px;
    >span{
        display: flex;
        flex: 1;
        padding-left: 5px;
        font-size: 1.8rem;
    }
    >input{
        width: 78%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 1.8rem;
    }
}
.manageProduct-item{
    display: flex;
    align-items: center;

    >span{
        flex: 1;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        &:nth-child(2){
            font-size: 2rem;
            color: var(--primary-color);
        }
    }
}
.manageProduct-content{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
}
.manageProduct-title{
    display: flex;
    // justify-content: space-around;
    font-size: 1.8rem;

    >span{
        text-align: center;
        &:nth-child(1){
            flex: 2;
        }
        &:nth-child(2){
            flex: 1;
        }
        &:nth-child(3){
            flex: 1;
        }
        &:nth-child(4){
            flex: 1;
        }
        &:nth-child(5){
            flex: 1;
        }
    }
}
.manageProduct-List{
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid rgba(220, 91, 14, 0.3);
    border-radius: 5px;
    padding: 0 20px 0px;
    margin-bottom: 14px;
}
.manageProduct-user{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    >span{
        font-size: 2rem;
        font-family: 'Oswald';
    }
}
.manageProduct-box{
    display: flex;
    gap: 20px;
    position: relative;
    
    >span{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &:nth-child(n+2){
       &::after{
        position: absolute;
        content: "";
        display: block;
        border: 1px solid var(--primary-color) ;
        top: -10px;
        width: 100%;
       }
    }
}
.manageProduct-product{
    display: flex;
    gap: 10px;
    flex: 2;
    >img{
        width: 120px;
        height: 120px;
        object-fit: contain;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }
    
}
.manageProduct-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    >span{
        font-size: 1.8rem;
        font-family: 'Oswald';
    }
}
.manageProduct-infoType{
    display: flex;
    flex-direction: column;
}

.manageProduct-comfirm{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    gap: 10px;
    color: rgba(220, 91, 14, 0.6);
    text-decoration: underline;
    >span{
        &:hover{
            cursor: pointer;
        color: var(--primary-color);
        }
    }
}
.manageProduct-pagination{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}