.profileAddress{
    width: 100%;
    max-width: 880px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px var(--primary-color);
    border-radius: 10px;
    min-height: 700px;
}
.profileAddress-container{
    padding: 24px;
}
.profileAddress-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}
.profileAddress-title>span{
    font-size: 2.8rem;
    
}
.profileAddress-title>button{
    background: #FFFFFF;
    border: 1px solid #DC5B0E;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    font-size: 2.6rem;
    color: rgba(220, 91, 14, 0.6);
    &:hover{
        background-color: var(--primary-color);
        color: #fff;
        cursor: pointer;
    }
}
.profileAddress-content{
    margin: 0 60px;
    display: flex;
    flex-direction: column;
}
.profileAddress-item{
    
        font-size: 2.4rem;

}
.profileAddress-text{
    font-size: 2rem;
}
.profileAddress-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
    font-size: 2rem;
}
.profileAddress-btn{
    margin: 16px 0 60px;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}
.profileAddress-btn>button{
    width: 160px;
    height: 50px;
    border: 1px solid #DC5B0E;
    border-radius: 10px;
    color: #fff;
    font-size: 2.6rem;
    &:first-child{
        background-color: #fff;
        color: rgba(220, 91, 14, 0.6);
        &:hover{
            cursor: pointer;
            background-color: var(--primary-color);
            color: #fff;
        }
    }
    &:last-child{
        background-color: rgba(220, 91, 14, 0.7);
        &:hover{
            cursor: pointer;
            color: var(--primary-color);
        }
    }

}
.addressModal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
.addressModal-container{
    width: 600px;
    min-height: 392px;
    background: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 24px;
    animation: btn-glide ease .5s;
    position: relative;
}
.addressModal-container>span{
    font-size: 2.8rem;
}
.addressModal-box{
    margin: 16px 0 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.addressModal-boxList{
    >span{
        z-index: 1;
    }
    
    &:nth-child(1)>span{
        position: absolute;
        top: -8px;
        left: 16px;
        background-color: #fff;
        padding: 0 4px;
    }
    &:nth-child(2)>span{
        position: absolute;
        top: -8px;
        right: 16px;
        background-color: #fff;
        padding: 0 4px;
    }
    &:nth-child(3)>span{
        position: absolute;
        transform: translateX(34%) translateY(-36%);
        background-color: #fff;
        padding: 0 4px;
    }
    &:nth-child(4)>span{
        position: absolute;
        transform: translateX(18%) translateY(-36%);
        background-color: #fff;
        padding: 0 4px;
    }
    &:nth-child(5)>span{
        position: absolute;
        transform: translateX(34%) translateY(-36%);
        background-color: #fff;
        padding: 0 4px;
    }
    &:nth-child(6)>span{
        position: absolute;
        transform: translateX(24%) translateY(-36%);
        background-color: #fff;
        padding: 0 4px;
    }
    &:nth-child(7)>span{
        position: absolute;
        transform: translateX(16%) translateY(-36%);
        background-color: #fff;
        padding: 0 4px;
    }

    margin-bottom: 20px;
}
.addressModal-boxList>span{
    color: rgba(0, 0, 0, 0.5);
}
.addressModal-boxList{
    >input,>select{
        background-color: #fff;
        border: 1px solid var(--sub-color);
        box-shadow: inset 0px 0px 4px rgba(220, 91, 14, 0.5);
        border-radius: 5px;
        width: 260px;
        height: 50px;
        padding: 4px 12px;
        font-size: 2rem;
        outline-color: var(--primary-color);
    }
    &:nth-child(3),&:nth-child(7),&:nth-child(5),&:nth-child(6),&:nth-child(4){
        >input{
            width: 552px;
        }
        >select{
            width: 552px;
        }
    }

}
.addressModal-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;

    >button{
        width: 260px;
        height: 50px;
        font-size: 2.4rem;
        color: rgba(220, 91, 14, 0.6);
        background-color: #fff;
        border: 1px solid var(--primary-color);
        border-radius: 20px;
        cursor: pointer;

        &:nth-child(2){
            background-color: var(--primary-color);
            color: #fff;
            &:hover{
                opacity: 0.8;
            }
        }
        &:nth-child(1){
            &:hover{
                color: var(--primary-color);
            }
        }
    }
}


.addressModal.none{
    display: none;
}

@keyframes btn-glide {
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}