.payment-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    >span{
        color: var(--primary-color);
        font-family: 'Oswald';
        font-size: 4rem;
        margin: 30px 0;
    }
}