.navbar{
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.navContainer{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.navContainerFull{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding: 0 20px;
}
.navList{
    color: var(--primary-color);
    display: flex;
    align-items: center;
    position: relative;
}
.navListSell{
    color: var(--primary-color);
    display: flex;
    align-items: center;
    >span{
        font-size: 2rem;
        margin-left: 6px;
        &:hover{
            cursor: pointer;
            opacity: 0.8;
        }
    }
    >img{
        width: 60px;
        height: 60px;
        object-fit: containt;
    }
}
.navItem{
    position: relative;
    color: var(--sub-color);
    margin-right: 48px;
    font-size: 1.8rem;
    
    &:hover{
        color: var(--primary-color);
        cursor: pointer;
    }
}
.navItem--space::after{
        content: "";
        display: block;
        position: absolute;
        height: 24px;
        border-right: 2px solid var(--primary-color);
        right: -24px;
        top : 50%;
        transform: translateY(-50%);
}
.navList--space::after{
    content: "";
        display: block;
        position: absolute;
        height: 24px;
        border-right: 2px solid var(--primary-color);
        right: 26px;
        top : 50%;
        transform: translateY(-50%);
}
.navIcon{
    width: 33px;
    cursor: pointer;
    position: relative;
    
}
.navList-money{
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    >span{
        font-size: 1.8rem;
    }

}
.navList-user{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 1.8rem;
    >img{
        width: 25px;
        height: 25px;
        border: 1px solid rgba(0, 0, 0, 0.6);
        border-radius: 50%;
        object-fit: cover;
    }
    &:hover{
        cursor: pointer;
        opacity: 0.8;
    }
}
