@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Oswald:wght@400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/bismarck');
:root{
    --primary-color: #DC5B0E;
    --sub-color : #EE9533;
}

*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat' !important;
    font-size: 1.6rem;
}

hr{
    border-top: 1px solid var(--primary-color);
    width: 1200px;
    margin-top: 46px;
}

.active{
    color: var(--primary-color) !important;
}
.active-border{
    border: 1px solid var(--primary-color) !important;
}
.active__underline::after {
    content: "";
    display: block;
    margin-top: 16px;
    border-bottom: 2px solid var(--primary-color);
}
.tab-hide{
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes btn-glide {
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}