.manageDeliver-fee{
    display: flex;
    gap: 83px;
    align-items: center;
}
.manageDeliver-feeList{
    display: flex;
    flex-direction: column;
    gap: 34px;
}
.manageDeliver-feeItem{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(220, 91, 14, 0.5);
    box-shadow: 4px 4px 5px rgba(220, 91, 14, 0.4);
    border-radius: 10px;
    width: 444px;

    >span{
        display: flex;
        font-family: 'Oswald';
        font-size: 3rem;
        align-items: flex-end;
        gap: 4px;
        justify-content: flex-end;
        color: var(--primary-color);
    }
    &:nth-of-type(2){
        .manageDeliver-feePlace{
            margin-left: 30px;
            >span{
                display: flex;
                font-size: 2rem;
                font-family: 'Oswald';
            }
        }
    }
}
.manageDeliver-feeTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    >span{
        &:first-child{
            font-size: 2rem;
            font-family: 'Oswald';
        }
        &:last-child{
            color: var(--primary-color);
            text-decoration: underline;
            &:hover{
                cursor: pointer;
                opacity: 0.8;
            }
        }
    }
}
.manageDeliver-region{
    text-align: center;
    >span{
        font-size: 2.6rem;
        font-family: 'Oswald';
    }
    &::before{
        content: "";
        display: block;
        border-top: 1px solid var(--primary-color);
        margin: 20px 0;
    }
}
.manageDeliver-regionList{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.manageDeliver-regionItem{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 372px;
    background: #FFFFFF;
    border: 1px solid rgba(220, 91, 14, 0.5);
    box-shadow: 4px 4px 5px rgba(220, 91, 14, 0.4);
    border-radius: 10px;
    padding: 20px;
    >span{
        font-size: 2rem;
        font-family: 'Oswald';
        text-align: left;
    }
}
.manageDeliver-place{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 80px;
    gap: 10px;
}
.modal-changeShip{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.modal-changeShipContainer{
    width: 500px;
    min-height: 242px;
    background: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 30px 60px;
    animation: btn-glide ease .5s;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;

    >span{
        font-size: 3.2rem;
        font-family: 'Oswald';
    }
}
.modal-changeShipBox{
    display: flex;
    gap: 20px;
    align-items: center;
    >span{
        font-size: 1.8rem;
    }
}
.modal-changeShipInput{
    // width: 140px;
    padding: 5px 10px;
    background: #FFFFFF;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    display: flex;
    color: var(--primary-color);
    >input{
        font-size: 2rem;
        border: none;
        outline: none;
        color: var(--primary-color);
        width: 98px;
    }
}
.modal-changeShipBtn{
    display: flex;
    gap: 10px;
    align-items: center;
    >button{
        width: 150px;
        height: 50px;
        font-size: 2.4rem;
        border: none;
        &:first-child{
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(255, 255, 255, 0.7);
            box-shadow: inset 0px 0px 4px var(--primary-color);
            border-radius: 50px;
            color: var(--sub-color);
            &:hover{
                cursor: pointer;
                color: var(--primary-color);
            }
        }
        &:last-child{
            background: rgba(220, 91, 14, 0.7);
            border-radius: 50px;
            color: #fff;
            &:hover{
                cursor: pointer;
                background-color: var(--primary-color);
            }
        }   
    }
}