.footer{
    display: flex;
    justify-content: center;
}
.listDev{
    width: 100%;
    max-width: 1280px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--primary-color);
    background-color: #fff;
}
.itemDev-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.itemDev-logo>img{
    width: 100px;
}
.itemDev-logo>span{
    font-size: 5rem;
    font-family: 'Bismarck';
}
.itemDev{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 3.2rem;
    color: var(--primary-color);

    &:hover{
        opacity: 0.8;
    }

    &:nth-child(1), &:nth-child(3){
        margin-bottom: 48px;
    }

}