.walletManage{
    width: 100%;
    max-width: 880px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px var(--primary-color);
    border-radius: 10px;
    height: 700px;
}
.walletManage-container{
    padding: 24px;

    >span{
        font-size: 2.8rem;
    }
}
.walletManage-current{
    margin: 64px 96px 0;
    position: relative;

    >span{
        position: absolute;
        top: -10px;
        left: 40px;
        background-color: #fff;
        padding: 0 4px;
        color: rgba(0, 0, 0, 0.5);
        font-size: 1.8rem;
    }
}
.walletManage-box{
    background: #fff;
    border: 1px solid var(--primary-color);
    box-shadow: inset 0px 0px 4px rgba(220, 91, 14, 0.5);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 40px;
    margin-bottom: 24px;

    >span{
        font-size: 2.4rem;
    }
}
.walletManage-icon{
    color: var(--primary-color);

    &:nth-child(2){
        margin-right: 4px;
    }
}
.walletManage-payBox,.walletManage-payBox2{
    height: 200px;
    border: 1px solid var(--primary-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.walletManage-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    >span{
        width: calc(100% / 2);
        text-align: center;
        font-size: 2.6rem;
        margin: 12px 54px;
        color: rgba(220, 91, 14, 0.5);

        &:nth-child(1){
            color: var(--primary-color);
            &:hover{
                cursor: pointer;
                opacity: 0.8;
            }
        }

        &:nth-child(2){
            position: absolute;
            border-bottom: 1px solid var(--primary-color);
            top: 42px;
            right: -54px;
        }
        &:nth-child(3){
            &:hover{
                cursor: pointer;
                color: var(--primary-color);
            }
            &::after{
                content: "";
                border-left: 1px solid var(--primary-color);
                position: absolute;
                height: 55px;
                top: 0;
                right: 50%;
                
            }
        }
    }
}
.walletManage-payment{
    margin-top: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;


    >span{
        font-size: 1.8rem;
        display: flex;
        align-items: center;
    }
}
.walletManage-paymentBox{
    display: flex;
    align-items: center;
    gap: 24px;


    >button{
        width: 180px;
        height: 40px;
        background-color: rgba(220, 91, 14, 0.5);
        border-radius: 5px;
        border: none;
        font-size: 2rem;
        color: #fff;
    }
}
.walletManage-input{
    background-color: #FFF;
    border: 1px solid #DC5B0E;
    box-shadow: inset 0px 0px 4px rgba(220, 91, 14, 0.5);
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 6px;
    overflow: hidden;
    padding-right: 12px;

    >input{
        width: 356px;
        height: 40px;
        font-size: 1.8rem;
        border: none;
        outline: none;
        padding: 10px 0 10px 20px;
    }
}
.walletManage-paymentForm{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 6px;
    >img{
        width: 40px;
        height: 18px;
        object-fit: contain;
        background: #FFF;
        border: 0.5px solid #000;
        border-radius: 5px;
        padding: 0 4px;
    }
}
.walletManage-title2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    >span{
        width: calc(100% / 2);
        text-align: center;
        font-size: 2.6rem;
        margin: 12px 54px;
        color: rgba(220, 91, 14, 0.5);

        &:nth-child(3){
            color: var(--primary-color);
            &:hover{
                cursor: pointer;
                opacity: 0.8;
            }
        }

        &:nth-child(2){
            position: absolute;
            border-bottom: 1px solid var(--primary-color);
            top: 42px;
            left: -54px;
        }
        &:nth-child(1){
            &:hover{
                cursor: pointer;
                color: var(--primary-color);
            }
            &::after{
                content: "";
                border-left: 1px solid var(--primary-color);
                position: absolute;
                height: 55px;
                top: 0;
                right: 50%;
            }
        }
    }
}
.walletManage-payBox.none{
    display: none;
}