.product{
    display: flex;
    max-width: 1200px;
    width: 100%;
}
.productItem{
    display: inline-block;
    text-decoration: none;
    color: #000;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: transform linear 0.1s;
    margin-bottom: 10px;
    min-height: 378px;
    min-width: 292px;
}
.productItem:hover{
    box-shadow: 0px 0px 5px 2px var(--primary-color);
    transform: translateY(-1px);
}
.product-img{
    width: 260px;
    height: 190px;
    object-fit: cover;
    margin: 10px auto;
    display: block;
}
.product-title{
    font-size: 1.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    margin: 10px 10px 22px 10px;
}
.product-sell, .product-rate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 8px;
    font-size: 1.4rem;
}
.product-rating{
    color: var(--primary-color);
}
.product-buy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 10px;
}
.product-btn{
    width: 130px;
    height: 40px;
    background-color: rgba(220, 91, 14, 0.5);
    border-radius: 10px;
    border: none;
    color: #fff;

    &:hover{
        cursor: pointer;
        background-color: var(--primary-color);
    }
}
.product-shop{
    display: flex;
    gap: 10px;
    color: rgba(220, 91, 14, 0.5);
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 16px;
    gap: 10px;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.8rem;
}
.page-item.active{
    width: 28px;
    height: 28px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: 28px;
    .page-link{
        color: #fff;
        text-decoration: none;
    }
}
.page-link{
    color: var(--primary-color);
    >span{
        display: none;
    }
}
.page-item{
    margin-right: 8px;
    >a{
        text-decoration: none;
        padding: 10px;
    }
    &::marker{
        color: #fff;
    }
}