.sellContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    // margin-top: 40px;

    >span{
        font-size: 4rem;
        font-family: 'Oswald';
        color: var(--primary-color);
        &:hover{
            cursor: pointer;
            opacity: 0.8;
        }
    }
}